<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SystemX - Web administration</title>

		<!-- Bootstrap -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- Font Awesome -->
		 <link href="fontawesome/css/all.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- SystemX -->
		<link href="systemx/css/systemx.css" rel="stylesheet">
	</head>
	<body>
		<main id="app">
			<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
				<router-link class="navbar-brand" to="/">
					SystemX
				</router-link>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbar">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<router-link class="nav-link" :to="{name: 'home'}"><i class="fas fa-home"></i> Home</router-link>
						</li>

						<li class="nav-item">
							<router-link class="nav-link" :to="{name: 'equipments'}"><i class="fas fa-network-wired"></i> Equipments</router-link>
						</li>
					</ul>
				</div>

				<ul class="navbar-nav flex-row ml-md-auto">
					<li class="nav-item dropdown" id="user-dropdown">
						<a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-user"></i> {{ username }}
						</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-user">
							<a class="dropdown-item" href="#"><i class="fas fa-cog"></i> Settings</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" id="sign-out" href="#"><i class="fas fa-sign-out-alt"></i> Sign out</a>
						</div>
					</li>
				</ul>
			</nav>

			<div class="container-fluid">
				<div class="row">
					<router-view name="sidebar"></router-view>
					<router-view></router-view>
				</div>
			</div>

			<div class="modal" id="loginModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<form-signin></form-signin>
					</div>
				</div>
			</div>
		</main>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="bootstrap/js/bootstrap.min.js"></script>

		<!-- VueJS -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>

		<!-- Vue Resource -->
		<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

		<!-- Chart.js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

		<script src="systemx/js/utils.js"></script>
		<script src="systemx/js/SystemX.js"></script>

		<!-- SystemX App -->
		<script src="systemx/js/signin.js"></script>
		<script src="systemx/js/sidebar.js"></script>
		<script src="systemx/js/home.js"></script>
		<script src="systemx/js/plugins.js"></script>
		<script src="systemx/js/drivers.js"></script>
		<script src="systemx/js/equipments.js"></script>
		<script src="systemx/js/equipment/informations.js"></script>
		<script src="systemx/js/equipment/overview.js"></script>
		<script src="systemx/js/equipment/smbios.js"></script>
		<script src="systemx/js/app.js"></script>
	</body>
</html>
